/*стили всех элементов*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(225, 236, 237);
}

.wrapper {
    width: 90%;
    background-color: rgb(45, 45, 45);
    margin: auto;
    padding-bottom: 3%;
    position: relative;
}

.slider_wrapper {
    padding-top: 1%;
    margin-right: 3%;
    margin-left: 3%;
    overflow: hidden;
}

.navigation {
    flex-basis: 80%;
    display: flex;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 11%;
}

.bar {
    cursor: pointer;
    border-radius: 50%;
    height: 0.7em;
    width: 0.7em;
    background-color: rgb(114, 160, 234);
    margin: 5px;
    transition: all .4s ease;
    border: 2% solid #fff;
}

.bar:hover {
    background-color: #fff;
}

.bar:active {
    background-color: #474545;
    box-sizing: border-box;
}

.text {
    color: white;
    display: none;
    flex-basis: 80%;
    font: 2vw sans-serif;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}


.slides {
    width: 400%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.slide {
    width: 25%;
    transition: all .6s ease;
}

.slides img {
    width: 100%;
    height: 100%;
    border-radius: 0.5%;
}

/*анимация слайдера*/

#r1:checked~.s1 {
    margin-left: 0%;
}

#r2:checked~.s1 {
    margin-left: -25%;
}

#r3:checked~.s1 {
    margin-left: -50%;
}

#r4:checked~.s1 {
    margin-left: -75%;
}

@keyframes ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#r1:checked~.text1 {
    display: flex;
    opacity: 0;
    animation: ani 2.5s forwards;
}

#r2:checked~.text2 {
    display: flex;
    opacity: 0;
    animation: ani 2.5s forwards;
}

#r3:checked~.text3 {
    display: flex;
    opacity: 0;
    animation: ani 2.5s forwards;
}

#r4:checked~.text4 {
    display: flex;
    opacity: 0;
    animation: ani 2.5s forwards;
}
/*версия Desktop*/

@media screen and (min-width: 1024px) {
    .wrapper {
        width: 60%;
    }

    .navigation {
        position: absolute;
        bottom: 10%;
        right: 2.5%;
        z-index: 1;
    }

    .text {
        font-size: 1.2vw;
        padding-top: 0.5%;
    }

}